<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="mdenettool-helloworld">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2022-12/"/>
			<unit id="org.eclipse.emf.ecore.feature.group" version="2.30.0.v20221121-1400"/>
			<unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.32.0.v20221121-1400"/>
			<unit id="org.eclipse.emf.codegen.feature.group" version="2.23.0.v20210924-1718"/>
			<unit id="org.eclipse.emf.common.feature.group" version="2.28.0.v20221121-1400"/>
			<unit id="org.eclipse.emf.feature.group" version="2.32.0.v20221121-1400"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/epsilon/updates/2.4/"/>
			
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">

			<feature id="maven.com.google.gson" label="Google gson library" version="1.0.0.qualifier">

   

   

   
				<description url="http://www.example.com/description">
      [Enter Feature Description here.]
   </description>
				<copyright url="http://www.example.com/copyright">
      [Enter Copyright Description here.]
   </copyright>
				<license url="http://www.example.com/license">
      [Enter License Description here.]
   </license>
			</feature>
			<dependencies>
				<dependency>
					<groupId>com.google.code.gson</groupId>
					<artifactId>gson</artifactId>
					<version>2.8.6</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="infinite" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.mde-network.ep.toolfunctions</groupId>
					<artifactId>com.mde-network.ep.toolfunctions.emf</artifactId>
					<version>0.0.1-SNAPSHOT</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>